@import "tailwindcss";
@import "@xterm/xterm/css/xterm.css";

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.xterm {
  height: 100%;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in-left {
  animation: slide-in-left 200ms ease-out;
}
